<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Form Maker</title>

    <!-- Bootstrap core CSS, taken from CDN -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap dashboard lib, taken locally -->
    <link href="../css/dashboard.css" rel="stylesheet">
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <header>
                <h1>Forms</h1>
            </header>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="forms.view.html">Forms</a></li>
                <li role="presentation" class="active"><a href="form-fields.view.html">Fields</a></li>
            </ul>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" id="firstName" placeholder="First Name">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <a href="#" class="btn btn-warning">
                                    <scan class="glyphicon glyphicon-pencil"></scan>
                                </a>
                                <a href="#" class="btn btn-primary">
                                    <scan class="glyphicon glyphicon-plus"></scan>
                                </a>
                                <a href="#" class="btn btn-danger">
                                    <scan class="glyphicon glyphicon-remove"></scan>
                                </a>
                                <a href="#" class="btn btn-info">
                                    <scan class="glyphicon glyphicon-align-justify"></scan>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <a href="#" class="btn btn-warning">
                                    <scan class="glyphicon glyphicon-pencil"></scan>
                                </a>
                                <a href="#" class="btn btn-primary">
                                    <scan class="glyphicon glyphicon-plus"></scan>
                                </a>
                                <a href="#" class="btn btn-danger">
                                    <scan class="glyphicon glyphicon-remove"></scan>
                                </a>
                                <a href="#" class="btn btn-info">
                                    <scan class="glyphicon glyphicon-align-justify"></scan>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="date">Date of Birth</label>
                                <input type="date" class="form-control" id="date">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <a href="#" class="btn btn-warning">
                                    <scan class="glyphicon glyphicon-pencil"></scan>
                                </a>
                                <a href="#" class="btn btn-primary">
                                    <scan class="glyphicon glyphicon-plus"></scan>
                                </a>
                                <a href="#" class="btn btn-danger">
                                    <scan class="glyphicon glyphicon-remove"></scan>
                                </a>
                                <a href="#" class="btn btn-info">
                                    <scan class="glyphicon glyphicon-align-justify"></scan>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="gender">Gender</label>
                                <select name="select" class="form-control" id="gender">
                                    <option value="value1">Male</option>
                                    <option value="value2">Female</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <a href="#" class="btn btn-warning">
                                    <scan class="glyphicon glyphicon-pencil"></scan>
                                </a>
                                <a href="#" class="btn btn-primary">
                                    <scan class="glyphicon glyphicon-plus"></scan>
                                </a>
                                <a href="#" class="btn btn-danger">
                                    <scan class="glyphicon glyphicon-remove"></scan>
                                </a>
                                <a href="#" class="btn btn-info">
                                    <scan class="glyphicon glyphicon-align-justify"></scan>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="roles">Roles</label>
                                <div id="roles" class="checkbox">
                                    <label>
                                        <input type="checkbox"> Admin
                                    </label> <br>
                                    <label>
                                        <input type="checkbox"> Student
                                    </label> <br>
                                    <label>
                                        <input type="checkbox"> User
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <a href="#" class="btn btn-warning">
                                    <scan class="glyphicon glyphicon-pencil"></scan>
                                </a>
                                <a href="#" class="btn btn-primary">
                                    <scan class="glyphicon glyphicon-plus"></scan>
                                </a>
                                <a href="#" class="btn btn-danger">
                                    <scan class="glyphicon glyphicon-remove"></scan>
                                </a>
                                <a href="#" class="btn btn-info">
                                    <scan class="glyphicon glyphicon-align-justify"></scan>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="agreement">License Agreement</label>
                                <div id="agreement">
                                    <input id="yes" type="radio" name="agreement"/> <label for="yes">Yes</label> <br>
                                    <label><input type="radio" name="agreement"/> No</label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <a href="#" class="btn btn-warning">
                                    <scan class="glyphicon glyphicon-pencil"></scan>
                                </a>
                                <a href="#" class="btn btn-primary">
                                    <scan class="glyphicon glyphicon-plus"></scan>
                                </a>
                                <a href="#" class="btn btn-danger">
                                    <scan class="glyphicon glyphicon-remove"></scan>
                                </a>
                                <a href="#" class="btn btn-info">
                                    <scan class="glyphicon glyphicon-align-justify"></scan>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="newField">Add New Field</label>
                                <select name="select" class="form-control" id="newField">
                                    <option value="singleLineText">Single Line Text</option>
                                    <option value="date">Date</option>
                                    <option value="dropdown">Dropdown</option>
                                    <option value="checkboxes">Checkboxes</option>
                                    <option value="radiobButtons">Radio buttons</option>
                                    <option value="paragraphTextFields">Paragraph Text Field</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <a href="#" class="btn btn-primary">
                                    <scan class="glyphicon glyphicon-plus"></scan>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>