<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <header>
                <h1>Forms</h1>
            </header>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">Forms</a></li>
                <li role="presentation"><a href="form-fields.view.html">Fields</a></li>
            </ul>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        <a href="#" class="btn">
                            <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                        </a>
                        Form Name
                    </th>
                    <th>
                        <a href="#" class="btn">
                            <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                        </a>
                        Action
                    </th>
                </tr>
                <tr>
                    <td><input ng-model="newFormTitle" class="form-control" type="text" name="formName" placeholder="name"/></td>
                    <td>
                        <a ng-click="addForm(newFormTitle)" class="btn btn-primary">
                            <scan class="glyphicon glyphicon-plus"></scan>
                        </a>
                        <a class="btn btn-success">
                            <scan class="glyphicon glyphicon-ok"></scan>
                        </a>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="form in user_forms">
                    <td>{{form.title}}</td>
                    <td>
                        <a href="#" class="btn btn-danger">
                            <scan class="glyphicon glyphicon-remove"></scan>
                        </a>
                        <a href="#" class="btn btn-warning">
                            <scan class="glyphicon glyphicon-pencil"></scan>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
