<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <header><h3>Profile</h3></header>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label control-label-left">Username:</label>
                    <div class="col-sm-10">
                        <input ng-model="currentUser.username" type="text" class="form-control" id="username" placeholder="{{currentUser.username}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label control-label-left">Password:</label>
                    <div class="col-sm-10">
                        <input ng-model="currentUser.password" type="password" class="form-control" id="password" placeholder="{{currentUser.password}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName" class="col-sm-2 control-label control-label-left">First Name:</label>
                    <div class="col-sm-10">
                        <input ng-model="currentUser.firstName" type="text" class="form-control" id="FirstName" placeholder="{{currentUser.FirstName}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-2 control-label control-label-left">Last name:</label>
                    <div class="col-sm-10">
                        <input ng-model="currentUser.lastName" type="text" class="form-control" id="LastName" placeholder="{{currentUser.lastName}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label control-label-left"> Email:</label>
                    <div class="col-sm-10">
                        <input ng-model="currentUser.email" type="email" class="form-control" id="email" placeholder="{{currentUser.email}}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <a ng-click="update(currentUser)" class="btn btn-default btn-block" role="button">Update</a>
                    </div>
                </div>
            </form>
            <h3>Taught Skills:</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        <a href="#/profile" class="btn">
                            <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                        </a>
                        Skill
                    </th>
                    <th>
                        <a href="#/profile" class="btn">
                            <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                        </a>
                        Level
                    </th>
                    <th>
                        <a href="#/profile" class="btn">
                            <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                        </a>
                        Actions
                    </th>
                </tr>
                <tr>
                    <td><input ng-model="editSkill.title" class="form-control" type="text" name="skillName" placeholder="Skill Name"/></td>
                    <td><input ng-model="editSkill.level" class="form-control" type="text" name="skillLevel" placeholder="Skill Level"/></td>
                    <td>
                        <a ng-click="addSkill(currentUser, editSkill)" class="btn btn-primary">
                            <scan class="glyphicon glyphicon-plus"></scan>
                        </a>
                        <a ng-click="updateSkill(editSkill)" class="btn btn-success">
                            <scan class="glyphicon glyphicon-ok"></scan>
                        </a>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="skill in user_skills">
                    <td>{{skill.title}}</td>
                    <td>{{skill.level}}</td>
                    <td>
                        <a ng-click="deleteSkill(skill._id)" class="btn btn-danger">
                            <scan class="glyphicon glyphicon-remove"></scan>
                        </a>
                        <a ng-click="selectSkill(skill._id)" class="btn btn-warning">
                            <scan class="glyphicon glyphicon-pencil"></scan>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
