<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1> Admin </h1>
            <h2> Users </h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        <a href="#" class="btn">
                            <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                        </a>
                        Username
                    </th>
                    <th>
                        <a href="#" class="btn">
                            <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                        </a>
                        Password
                    </th>
                    <th>
                        <a href="#" class="btn">
                            <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                        </a>
                        First Name
                    </th>
                    <th>
                        <a href="#" class="btn">
                            <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                        </a>
                        Last Name
                    </th>
                    <th>
                        <a href="#" class="btn">
                            <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                        </a>
                        Role
                    </th>
                    <th>
                        <a href="#" class="btn">
                            <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                        </a>
                        Actions
                    </th>
                </tr>
                <tr>
                    <td><input class="form-control" ng-model="new_user.username" type="text" name="username" placeholder="Username"/></td>
                    <td><input class="form-control" ng-model="new_user.password" type="text" name="password" placeholder="Password"/></td>
                    <td><input class="form-control" ng-model="new_user.firstName" type="text" name="firstName" placeholder="First Name"/></td>
                    <td><input class="form-control" ng-model="new_user.lastName" type="text" name="lastName" placeholder="Last Name"/></td>
                    <td><input class="form-control" ng-model="new_user.roles" type="text" name="role" placeholder="role1, role2"/></td>

                    <td>
                        <a href="#"  ng-click="register(new_user)" class="btn btn-primary">
                            <scan class="glyphicon glyphicon-plus"></scan>
                        </a>
                        <a href="#" class="btn btn-success">
                            <scan class="glyphicon glyphicon-ok"></scan>
                        </a>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in users">
                    <td class="td-middle"><a>
                        {{ user.username }} </a></td>
                    <td class="td-middle"><a>
                        {{ user.password }} </a></td>
                    <td class="td-middle"><a>
                        {{ user.firstName }} </a></td>
                    <td class="td-middle"><a>
                        {{ user.lastName }} </a></td>
                    <td class="td-middle"><a>
                        {{ user.roles }} </a></td>
                    <td class="text-nowrap">
                        <a ng-click="deleteUser($index)" class="btn btn-danger">
                            <scan class="glyphicon glyphicon-remove"></scan>
                        </a>
                        <a ng-click="selectUser($index)" class="btn btn-warning">
                            <scan class="glyphicon glyphicon-pencil"></scan>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
