<div class="container-fluid">
    <div class="row">
        <div  class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <header>
                <h1>Upcomming Meetups:</h1>
            </header>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        <a href="#/meetup" class="btn">
                            <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                        </a>
                        User
                    </th>
                    <th>
                        <a href="#/meetup" class="btn">
                            <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                        </a>
                        Date
                    </th>
                    <th>
                        <a href="#/meetup" class="btn">
                            <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                        </a>
                        Skill
                    </th>
                    <th>
                        <a href="#/meetup" class="btn">
                            <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                        </a>
                        Actions
                    </th>
                </tr>
                <tr>
                    <td><input ng-model="editMeetup.peer_id" class="form-control" type="text" name="meetupPeer" placeholder="User to Meet"/></td>
                    <td><input ng-model="editMeetup.date" class="form-control" type="text" name="meetupDate" placeholder="mm-dd-yy"/></td>
                    <td><input ng-model="editMeetup.skill" class="form-control" type="text" name="meetupSkill" placeholder="Skill"/></td>
                    <td>
                        <a ng-click="addMeetup(currentUser, editMeetup)" class="btn btn-primary">
                            <scan class="glyphicon glyphicon-plus"></scan>
                        </a>
                        <a ng-click="updateMeetup(editMeetup)" class="btn btn-success">
                            <scan class="glyphicon glyphicon-ok"></scan>
                        </a>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="meetup in user_meetups">
                    <td>{{meetup.peer_id}}</td>
                    <td>{{meetup.date}}</td>
                    <td>{{meetup.skill}}</td>
                    <td>
                        <a ng-click="deleteMeetup(meetup)" class="btn btn-danger">
                            <scan class="glyphicon glyphicon-remove"></scan>
                        </a>
                        <a ng-click="selectMeetup(meetup._id)" class="btn btn-warning">
                            <scan class="glyphicon glyphicon-pencil"></scan>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <h1>Past Meetups:</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        <a href="#/meetup" class="btn">
                            <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                        </a>
                        User
                    </th>
                    <th>
                        <a href="#/meetup" class="btn">
                            <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                        </a>
                        Date
                    </th>
                    <th>
                        <a href="#/meetup" class="btn">
                            <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                        </a>
                        Skill
                    </th>
                    <th>
                        <a href="#/meetup" class="btn">
                            <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                        </a>
                        Rating
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>user3</td>
                    <td>05-05-17</td>
                    <td>Finance</td>
                    <td>3/5</td>
                </tr>
                <tr>
                    <td>user4</td>
                    <td>02-07-17</td>
                    <td>Rock Climbing</td>
                    <td>3/5</td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>
