<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li ng-class="{'active': $location.path() === '/profile'}" ng-show="currentUser"><a href="#/profile">Profile</a></li>
        <li ng-class="{'active': $location.path() === '/meetups'}" ng-show="currentUser"><a href="#/meetups">Meetups</a></li>
        <li ng-class="{'active': $location.path() === '/feedback'}" ng-show="currentUser"><a href="#/feedback">Feedback</a></li>
        <li ng-class="{'active': $location.path() === '/nearby'}" ng-show="currentUser"><a href="#/nearby">Nearby</a></li>
        <li ng-show="currentUser"><a href="#/profile">Switch Mode</a></li>
    </ul>
</div>
